/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. HP
3. About
4. Products
5. Contact


==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import 'variables';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
	
}
.wrapper{
	@include centering-mobile
	// flex-wrap: wrap;
	margin: 0 auto;
	max-width: 90%;
	flex-direction: column;
	align-content: center;
}


/* 2. HP ================================= */

.logo-container{
	@include centering-mobile
	
	.logo{
		position: relative;
		width: 40%;
		height: 40%;
	}
}

.hp-h1{
	font-family: $quadrary-font;
	font-size: 3.5em;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 1em;
	margin-top: .5em;
}

// NAVIGATION
.menu-item{
	border: 1px solid $tritary-color;
	margin-bottom: 1em;
	border-radius: 1em;
	a{
		text-decoration: none;
		text-transform: uppercase;
		font-family: $primary-font;
		font-size: 2.7em;
		color: $primary-color;

		&:hover{
			color: $tritary-color;
		}
	}
}

.about{
	a{
		@include centering-mobile
		padding: 1em 0;
	}
}
.products{
	a{
		@include centering-mobile
		padding: 1em 0;
	}
}
.contact{
	a{
		@include centering-mobile
		padding: 1em 0;
	}
}
//you can make ITT appear and then transition it to them expanding and the rest of the word appears
.social{
	cursor: pointer;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 1em;
	margin-bottom: 2em;
	font-family: $secondary-font;
	font-size: 1em;
	text-transform: uppercase;
	

	li{
		padding: 1em 0;
		text-align: center;
		background-color: $tritary-color;
		margin-bottom: 1em;
		border-radius: 1.2em;
		a{
			width: 100%;
			height: 100%;
			padding: 2em 4em;
			text-decoration: none;
			color: $primary-color;
			transition: all .1s ease-in-out;

			&:hover{
				color: $quadrary-color;
			}
		}	
	}
}

@media screen and (min-width:$tablet-breakpoint){

	.hp-h1{
		order: -2;
	}
	.logo-container{
		display:flex;
		justify-content: center;
		align-content: center;
		.logo{
			height: 50%;
			width: 50%;
			position: absolute;
			top: 28%;
			right: 22%;
		}
	}

	.nav-container{
		display: flex;
		justify-content: space-around;
		order:0;
		margin-top: 50%;

		.menu-item{
			a{
				font-size: 2em;
			}
		}

		.about{
			width: 30%;
			border: none;
		}
		.products{
			width: 30%;
			border: none;
		}
		.contact{
			width: 30%;
			border: none;
		}
	}

	.social{
		margin-top: -1em;
		flex-direction: row;
		order: -1;
		li{
			background-color: transparent;
			a{
				&:hover{
					background-color: $tritary-color;
					border-radius: 2em;
				}
			}
		}
	}
}

@media screen and (min-width:$desktop-breakpoint){
	.nav-container{
		display: flex;
		justify-content: space-around;
		order:0;
		margin-top: 50%;

		.menu-item{
			a{
				font-size: 2em;
				border-top: 1px dotted $tritary-color;
				border-right: 1px dotted $tritary-color;
				// background-color: pink;
			}
		}

		.about{
			border: none;
			transform: rotate(90deg);
			position: absolute;
			right: 80%;
			top: 45%;
		}
		.products{
			border: none;
			position: absolute;
			top: 85%;
			right: 35%;
		}
		.contact{
			border: none;
			transform: rotate(-90deg);
			position: absolute;
			left: 80%;
			top: 45%;
		}
	}
}

/* 3. About ================================= */

.home-link-thumb{
	@include centering-mobile
	img{
		position: relative;
		width: 10em;
		height: 10em;
	}
}
.ACP{
	display: flex;
	justify-content: space-around;
	
	li{
		
		a{
			
			img{
				width: 50%;
				height: auto;
				margin-top: 4em;
				margin-bottom: 2em;
			}
		}
	}
}
.about-hero{
	background-image: url(../../dist/img/about-hero.jpg);
}
.hero{
	position: relative;
	top: -2em;
	height: 510px;
	background-size: auto 400px;
	background-position: 10% 90%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	overflow: hidden;
}
.content-wrapper-about{
	display: grid;
}

.left-imgs{
	position: relative;
	top: -4em;
	.about-img-1,
	.about-img-2,
	.about-img-3{
		width: 100%;
		height: 100%;
		margin-bottom: 2em;
	}
}
.right-info{
	order: -1;
	position: relative;
	top: -6em;

	.about-h1{
		@include centering-mobile
		text-transform: uppercase;
		color: $primary-color;
		font-family: $primary-font;
		font-size: 6.5em;
		margin-bottom: .3em;
		border-bottom: 1px solid black;
		background-color: rgba(255,255,255,.9);
	}
	.about-main-p{
		@include centering-mobile
		font-family: $secondary-font;
		font-size: 1.5em;
		letter-spacing: .06em;
		padding: 1.5em 1em;
		background-color: #f8a4a2;
	}
}
.latest-greatest{
	@include centering-mobile
	position:relative;
	top: -6em;
	.about-h2{
		@include centering-mobile
		font-family: $tritary-font;
		font-size: 2.8em;
		text-transform: lowercase;
		margin-top: 1em;
		margin-bottom: .3em;
		border-bottom: 1px solid black;
	}
}

@media screen and (min-width:$tablet-breakpoint){
	.nav{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-top: 3em;
	}
	.hero{
		height: 500px;
		background-size: auto 500px;
	}
	.left-imgs{
		display: grid;
		grid-template-columns: 2fr 6fr 3fr;
		grid-auto-rows: minmax(200px, auto);
		grid-gap: 1em;
		justify-items: stretch;
		align-items: stretch;
		
		.about-img-2{
			grid-column: 1/3;
			grid-row: 1/3;
		}
	}
}
@media screen and (min-width:$desktop-breakpoint){
.content-wrapper-about{
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-auto-rows: minmax(200px, auto);
}
.hero{
	height: 500px;
	background-size: auto 700px;
}
.ACP{
		li{
			
			a{
				
				img{
					width: 35%;
					height: auto;
					margin-top: 4em;
					margin-bottom: 5em;
				}
			}
		}
}
.right-info{
	grid-column: 1/3;
	position: relative;
	top: -6em;
	margin-left: 2.5em;
	.about-h1{
			@include centering-mobile
			text-transform: uppercase;
			color: $primary-color;
			font-family: $primary-font;
			font-size: 4.5em;
			margin-bottom: .3em;
			border-bottom: 1px solid black;
			background-color: rgba(255,255,255,.9);
		}
		.about-main-p{
			@include centering-mobile
			font-family: $secondary-font;
			font-size: 1em;
			letter-spacing: .06em;
			padding: 1.5em 1em;
			background-color: #f8a4a2;
		}
	}
	.left-imgs{
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-auto-rows: minmax(30em, auto);
		order: -1;
		grid-column: 1/6;
		position: relative;
		top: -30.9em;
		.about-img-1,
		.about-img-2,
		.about-img-3{
			width: 100%;
			height: 100%;
			margin-bottom: 2em;
			
		}
		.about-img-2{		
			grid-column: 4/9;
			grid-row: 1/5;
		}
		.about-img-1{
			grid-column: 1/5;
			grid-row: 5/6;
		}
		.about-img-3{
			grid-column: 5/9;
			grid-row: 5/6;
		}
	}
	.latest-greatest{
		grid-column: 1/6;
		@include centering-mobile
		position:relative;
		top: -30em;
		.about-h2{
			@include centering-mobile
			font-family: $tritary-font;
			font-size: 2.8em;
			text-transform: lowercase;
			margin-top: 1em;
			margin-bottom: .3em;
			border-bottom: 1px solid black;
		}
	}
}
	
/* 4. Products ================================= */
	
.products-hero{
	background-image: url(../../dist/img/products-hero.jpg);
}

.products-info{
	order: -1;
	position: relative;
	top: -6em;
	.products-h1{
		@include centering-mobile
		text-transform: uppercase;
		text-align: center;
		color: $primary-color;
		font-family: $primary-font;
		font-size: 4.5em;
		margin-bottom: .3em;
		border-bottom: 1px solid black;
		background-color: rgba(255,255,255,.9);
	}
	.products-main-p{
		@include centering-mobile
		font-family: $secondary-font;
		font-size: 1.5em;
		letter-spacing: .06em;
		padding: 1.5em 1em;
		margin-bottom: -2em;
		background-color: #f8a4a2;
	}
}

.content-wrapper{
	display: flex;
	flex-direction: column;

	.product1,
	.product2,
	.product3,
	.product4,
	.product5,
	.product6,
	.product7,
	.product8,
	.product9{
		@include gallery-info-styles				
	}

	.products-img1,
	.products-img2,
	.products-img3,
	.products-img4,
	.products-img5,
	.products-img6,
	.products-img7,
	.products-img8,
	.products-img9{
		@include product-mobile-styles
	}
}
@media screen and (min-width:$tablet-breakpoint){
	.hero{
		height: 500px;
		background-size: auto 500px;
	}
	.products{
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;

		.product1,
		.product2,
		.product3,
		.product4,
		.product5,
		.product6,
		.product7,
		.product8,
		.product9{
			@include gallery-info-styles-tablet;			
		}

		.products-1,
		.products-2,
		.products-3,
		.products-4,
		.products-5,
		.products-6,
		.products-7,
		.products-8,
		.products-9{
			width: 30%;
			padding-right: 2em;
			justify-content: space-around;
		}


		.products-img1,
		.products-img2,
		.products-img3,
		.products-img4,
		.products-img5,
		.products-img6,
		.products-img7,
		.products-img8,
		.products-img9{
			@include product-tablet-styles;
		}
	}
	.products-hero{
		background-image: url(../../dist/img/products-hero.jpg);
	}
}
@media screen and (min-width: $desktop-breakpoint){
	.hero{
		height: 500px;
		background-size: auto 700px;
	}
	.products{

		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;

		.product1,
		.product2,
		.product3,
		.product4,
		.product5,
		.product6,
		.product7,
		.product8,
		.product9{
				
		}
		.products-1,
		.products-2,
		.products-3,
		.products-4,
		.products-5,
		.products-6,
		.products-7,
		.products-8,
		.products-9{
			width: 20%;
			padding-right: 2em;
			justify-content: space-around;
		}
		.products-img1,
		.products-img2,
		.products-img3,
		.products-img4,
		.products-img5,
		.products-img6,
		.products-img7,
		.products-img8,
		.products-img9{
			width: 100%;
			height: auto;
		}
	}
}

/* 4. Contact ================================= */
.contact-hero{
	background-image: url(../../dist/img/contact-hero.jpg);
}
.grid-container{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 2em;
	position: relative;
	top: -15em;
}

.contact-info{
	background-color: orange;
	padding: 1em;
	font-family: $secondary-font;
	line-height: 1.5;
	border-radius: 2em;

	h1{
		font-family: $tritary-font;
		font-size: 3.5em;
		text-align: center;
		padding: .2em;
	}
	p{
		padding-bottom: 1em;
	}
	:last-child{
		padding-bottom: 1.4em;
	}
}

.contact-aside{
	background-color: lightseagreen;
	padding: 1em;
	font-family: $secondary-font;
	line-height:  1.5;
	border-radius: 2em;

	h2{
		font-family: $tritary-font;
		font-size: 3.5em;
		padding: .2em;
		padding-bottom: .4em;
		text-align: center;
	}

	p{
		padding-bottom: 1em;
	}

	:last-child{
		display: flex;
		flex-direction: column;
		text-decoration: none;
		color: $primary-color;

		a{
			padding-top: 1em;
			text-align: center;
			margin-bottom: 2em;
			letter-spacing: .35em;
			text-transform: uppercase;
			
			&:hover{
				color: $tritary-color;
			}
		}
	}
}

.contact-social{
	background-color: pink;
	padding: 1em;
	font-family: $secondary-font;
	line-height: 1.5;
	border-radius: 2em;

	h3{
		font-family: $tritary-font;
		font-size: 3.5em;
		padding: .2em;
		text-align: center;
		margin-bottom: .3em;
	}

	li{
		.social1,
		.social2,
		.social3{
			display: flex;
		}	
		
		h4{
			font-style: italic;
			position: relative;
			top: 1em;
			padding-left: 2em;
		}

		p{
			padding-top: .7em;
			text-align: left;
			font-size: 1em;

			&:last-child{
				margin-bottom: 2em;
			}
		}
	}	
}

@media screen and (min-width:$tablet-breakpoint){
	.hero{
		height: 500px;
		background-size: auto 500px;
	}
	.contact-hero{
		background-image: url(../../dist/img/contact-hero.jpg);
	}

	.grid-container{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-gap: 1em;
		position: relative;
		top: -5em;
	}

	.contact-info{
		background-color: orange;
		padding: 1em;
		font-family: $secondary-font;
		line-height: 1.5;
		width: 100%;
		border-radius: 2em;
		
		h1{
			font-family: $tritary-font;
			font-size: 3.5em;
			text-align: center;
			padding: .2em;
		}
		p{
			padding-bottom: 1em;
		}
		:last-child{
			padding-bottom: 1.4em;
		}
	}
	.contact-aside{
		background-color: lightseagreen;
		padding: 1em;
		font-family: $secondary-font;
		line-height:  1.5;
		margin-bottom: 2em 0;
		width: 100%;
		border-radius: 2em;
	
		h2{
			font-family: $tritary-font;
			font-size: 3.5em;
			padding: .2em;
			padding-bottom: .4em;
			text-align: center;
		}
	
		p{
			padding-bottom: 1em;
		}
	
		:last-child{
			display: flex;
			flex-direction: column;
			text-decoration: none;
			color: $primary-color;
	
			a{
				padding-top: 1em;
				text-align: center;
				margin-bottom: 2em;
				letter-spacing: .35em;
				text-transform: uppercase;
				
				&:hover{
					color: $tritary-color;
				}
			}
		}
	}
	.contact-social{
		background-color: pink;
		padding: 1em;
		font-family: $secondary-font;
		line-height: 1.5;
		margin: 2em 0;
		width: 100%;
		grid-column: 1/4;
		border-radius: 2em;
	
		h3{
			font-family: $tritary-font;
			font-size: 3.5em;
			padding: .2em;
			text-align: center;
			margin-bottom: .3em;
		}
	
		li{
			.social1,
			.social2,
			.social3{
				display: flex;
			}	
			
			h4{
				font-style: italic;
				position: relative;
				top: 1em;
				padding-left: 2em;
			}
	
			p{
				padding-top: .7em;
				text-align: left;
				font-size: 1em;
	
				&:last-child{
					margin-bottom: 2em;
				}
			}
		}	
	}

}
@media screen and (min-width:$desktop-breakpoint){
	.hero{
		height: 500px;
		background-size: auto 700px;
	}
	.grid-container{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-gap: 1em;
		position: relative;
		top: -5em;
	}

	.contact-info{
		background-color: orange;
		padding: 1em;
		font-family: $secondary-font;
		line-height: 1.5;
		width: 100%;
		border-radius: 2em;

	}
	.contact-aside{
		background-color: lightseagreen;
		padding: 1em;
		font-family: $secondary-font;
		line-height:  1.5;
		width: 100%;
		border-radius: 2em;
	
		
	}
	.contact-social{
		background-color: pink;
		padding: 1em;
		font-family: $secondary-font;
		line-height: 1.5;
		width: 100%;
		border-radius: 2em;	
		grid-column: 3/4;
		margin-top: 0;
	}
}