/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. HP
3. About
4. Products
5. Contact


==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import 'variables';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}
.wrapper{
	@include centering-mobile
	margin: 0 auto;
	max-width: 90%;
	flex-direction: column;
	align-content: center;
}


/* 2. HP ================================= */

.logo-container{
	@include centering-mobile
	
	.logo{
		position: relative;
		width: 40%;
		height: 40%;
	}
}

// NAVIGATION
.menu-item{
	a{
		text-decoration: none;
		text-transform: uppercase;
		font-family: $primary-font;
		font-size: 2.7em;
		color: $primary-color;

		&:hover{
			color: $secondary-color;
		}
	}
}

.about{
	a{
		@include centering-mobile
		padding: 1em 0;
	}
}
.products{
	a{
		@include centering-mobile
		padding: 1em 0;
	}
}
.contact{
	a{
		@include centering-mobile
		padding: 1em 0;
	}
}
//you can make ITT appear and then transition it to them expanding and the rest of the word appears
.social{
	cursor: pointer;
	display:flex;
	justify-content: space-around;
	margin-top: 4em;
	margin-bottom: 2em;
	font-family: $secondary-font;
	font-size: 1em;
	text-transform: uppercase;

	li{
		a{
			width: 100%;
			height: 100%;
			padding: 2em 4em;
			text-decoration: none;
			color: $primary-color;

			&:hover{
				color: $tritary-color;
			}
		}	
	}
}

@media screen and (min-width:$tablet-breakpoint){
	.logo-container{
		display:flex;
		justify-content: center;
		align-content: center;
		.logo{
			height: 50%;
			width: 50%;
			position: absolute;
			top: 22%;
			right: 22%;
		}
	}
	.about{
		transform: rotate(90deg);
		position: absolute;
		right: 85%;
		top: 40%;
	}
	.products{
		position: absolute;
		top: 80%;
		right: 35%;
	}
	.contact{
		transform: rotate(-90deg);
		position: absolute;
		left: 85%;
		top: 40%;
	}
	.social{
		margin-top: 2.5em;
	}
}

/* 3. About ================================= */
.home-link-thumb{
	@include centering-mobile
	img{
		position: relative;
		width: 10em;
		height: 10em;
	}
}
.about-link-thumb{
	@include centering-mobile
	text-decoration: none;
	text-transform: uppercase;
	color: $primary-color;
	font-family: $primary-font;
	font-size: 1.5em;
	background-color: $tritary-color;
	margin: 1em 0;
	padding: 1.5em;
}
.products-link-thumb{
	@include centering-mobile
	text-decoration: none;
	text-transform: uppercase;
	color: $primary-color;
	font-family: $primary-font;
	font-size: 1em;
	background-color: $tritary-color;
	margin: 1em 0;
	padding: 1.5em;
}
.contact-link-thumb{
	@include centering-mobile
	text-decoration: none;
	text-transform: uppercase;
	color: $primary-color;
	font-family: $primary-font;
	font-size: .7em;
	background-color: $tritary-color;
	margin: 1em 0;
	padding: 1.5em;
}
.left-imgs{
	.about-img-1,
	.about-img-2,
	.about-img-3{
		width: 100%;
		height: 100%;
	}
}
.right-info{
	.about-h1{
		@include centering-mobile
		text-transform: uppercase;
		color: $primary-color;
		font-family: $primary-font;
		font-size: 5.5em;
		margin-top: .7em;
		margin-bottom: .3em;
		border-bottom: 1px solid black;
	}
	.about-main-p{
		@include centering-mobile
		font-family: $secondary-font;
		font-size: 1em;
		letter-spacing: .04em;
	}
}
.latest-greatest{
	@include centering-mobile
	.about-h2{
		@include centering-mobile
		font-family: $tritary-font;
		font-size: 2.8em;
		text-transform: lowercase;
		margin-top: 1em;
		margin-bottom: .3em;
		border-bottom: 1px solid black;
	}
}

@media screen and (min-width:$tablet-breakpoint){
	.home-link-thumb{ 
		img{
			position: absolute;
			top: 2em;
			left: 1em;
			width: 10%;
			height: 15%;
		}
	}
	.ACP{
		position: relative;
		display: flex;
		justify-content:  space-around;
		left: 3em;
		top: .5em;

		li{
			.about-link-thumb{
				background-color: transparent;
		
				.about-link-img{
					height: 3em;
					width: auto;
					object-fit: contain;
				}
			}
			.products-link-thumb{
				background-color: transparent;
				font-size: 1.5em;

				.products-link-img{
					height: 3em;
					width: auto;
					object-fit: contain;
				}
			}
			.contact-link-thumb{
				background-color: transparent;
				font-size: 1.5em;

				.contact-link-img{
					height: 3em;
					width: auto;
					object-fit: contain;
				}
			}
		}
	}
	.about-hero{
		background-image: url(../../dist/img/about-hero.jpg);
	}
	.hero{
		position: relative;
		top: -2em;
		height: 550px;
		background-size: auto 500px;
		background-position: 10% 80%;
		background-attachment: fixed;
		background-repeat: no-repeat;
		overflow: hidden;

	}
	.left-imgs{
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 90%;
		left: 10%;

		.about-img-1,
		.about-img-2,
		.about-img-3{
			width: 45%;
			height: 50%;
			z-index: 3;
			margin-bottom: 4em;
		}
		.about-img-3{
			position: absolute;
			left: 50%;
			top: 40%;
		}
	}
	.right-info{
		margin-right: 4em;
		position: absolute;
		top: 90%;
		left: 60%;

		.about-main-p{
			position: relative;
			top: 2em;
			line-height: 1.5;
			
			&:last-child{
				padding-top: .7em;
			}
		}
	}
	.latest-greatest{
		position: absolute;
		top: 260%;
		left: 35%;

		.about-h2{
			text-transform: uppercase;
			letter-spacing: .07em;
			padding-bottom: .3em;
		}
	}
}
		
/* 4. Products ================================= */
		
.content-wrapper{
	display: flex;
	flex-direction: column;

	.product1,
	.product2,
	.product3,
	.product4,
	.product5,
	.product6,
	.product7,
	.product8,
	.product9{
		@include gallery-info-styles				
	}

	.products-img1,
	.products-img2,
	.products-img3,
	.products-img4,
	.products-img5,
	.products-img6,
	.products-img7,
	.products-img8,
	.products-img9{
		@include product-mobile-styles
	}
}
@media screen and (min-width:$tablet-breakpoint){
	.content-wrapper{
		flex-direction: row;
		flex-wrap: wrap;

		.product1,
		.product2,
		.product3,
		.product4,
		.product5,
		.product6,
		.product7,
		.product8,
		.product9{
			@include gallery-info-styles-tablet;			
		}

		.products-1,
		.products-2,
		.products-3,
		.products-4,
		.products-5,
		.products-6,
		.products-7,
		.products-8,
		.products-9{
			width: 30%;
			padding-right: 2em;
			justify-content: space-around;
		}


		.products-img1,
		.products-img2,
		.products-img3,
		.products-img4,
		.products-img5,
		.products-img6,
		.products-img7,
		.products-img8,
		.products-img9{
			@include product-tablet-styles;
		}
	}
	.products-hero{
		background-image: url(../../dist/img/products-hero.jpg);
	}
}


/* 4. Contact ================================= */

.contact-info{
	background-color: orange;
	padding: 1em;
	font-family: $secondary-font;
	line-height: 1.5;
	margin: 2em 0;

	h1{
		font-family: $tritary-font;
		font-size: 3.5em;
		text-align: center;
		padding: .2em;
	}
	p{
		padding-bottom: 1em;
	}
	:last-child{
		padding-bottom: 1.4em;
	}
}

.contact-aside{
	background-color: lightseagreen;
	padding: 1em;
	font-family: $secondary-font;
	line-height:  1.5;
	margin-bottom: 2em 0;

	h2{
		font-family: $tritary-font;
		font-size: 3.5em;
		padding: .2em;
		padding-bottom: .4em;
		text-align: center;
	}

	p{
		padding-bottom: 1em;
	}

	:last-child{
		display: flex;
		flex-direction: column;
		text-decoration: none;
		color: $primary-color;

		a{
			padding-top: 1em;
			text-align: center;
			margin-bottom: 2em;
			letter-spacing: .35em;
			text-transform: uppercase;
			
			&:hover{
				color: $tritary-color;
			}
		}
	}
}

.contact-social{
	background-color: pink;
	padding: 1em;
	font-family: $secondary-font;
	line-height: 1.5;
	margin: 2em 0;

	h3{
		font-family: $tritary-font;
		font-size: 3.5em;
		padding: .2em;
		text-align: center;
		margin-bottom: .3em;
	}

	li{
		.social1,
		.social2,
		.social3{
			display: flex;
		}	
		
		h4{
			font-style: italic;
			position: relative;
			top: 1em;
			padding-left: 2em;
		}

		p{
			padding-top: .7em;
			text-align: left;
			font-size: 1em;

			&:last-child{
				margin-bottom: 2em;
			}
		}
	}	
}

@media screen and (min-width:$tablet-breakpoint){
	.contact-hero{
		background-image: url(../../dist/img/contact-hero.jpg);
	}

	.contact-info{
		position: absolute;
		top: 85%;
		right: 45%;
		background-color: orange;
		padding: 1em;
		font-family: $secondary-font;
		line-height: 1.5;
		margin: 2em 0;
		width: 50%;
		
		h1{
			font-family: $tritary-font;
			font-size: 3.5em;
			text-align: center;
			padding: .2em;
		}
		p{
			padding-bottom: 1em;
		}
		:last-child{
			padding-bottom: 1.4em;
		}
	}
	.contact-aside{
		background-color: lightseagreen;
		padding: 1em;
		font-family: $secondary-font;
		line-height:  1.5;
		margin-bottom: 2em 0;
		width: 35%;
		position: absolute;
		top: 90%;
		left: 60%;
	
		h2{
			font-family: $tritary-font;
			font-size: 3.5em;
			padding: .2em;
			padding-bottom: .4em;
			text-align: center;
		}
	
		p{
			padding-bottom: 1em;
		}
	
		:last-child{
			display: flex;
			flex-direction: column;
			text-decoration: none;
			color: $primary-color;
	
			a{
				padding-top: 1em;
				text-align: center;
				margin-bottom: 2em;
				letter-spacing: .35em;
				text-transform: uppercase;
				
				&:hover{
					color: $tritary-color;
				}
			}
		}
	}
	.contact-social{
		background-color: pink;
		padding: 1em;
		font-family: $secondary-font;
		line-height: 1.5;
		margin: 2em 0;
		width: 50%;
		right: 45%;
		top: 130%;
		position: absolute;
	
		h3{
			font-family: $tritary-font;
			font-size: 3.5em;
			padding: .2em;
			text-align: center;
			margin-bottom: .3em;
		}
	
		li{
			.social1,
			.social2,
			.social3{
				display: flex;
			}	
			
			h4{
				font-style: italic;
				position: relative;
				top: 1em;
				padding-left: 2em;
			}
	
			p{
				padding-top: .7em;
				text-align: left;
				font-size: 1em;
	
				&:last-child{
					margin-bottom: 2em;
				}
			}
		}	
	}

}