/*VARIABLES*/
$tablet-breakpoint: 640px;
$desktop-breakpoint: 940px;

$primary-font: 'Righteous', cursive;
$secondary-font: 'Raleway', sans-serif;
$tritary-font: 'Oswald', sans-serif;
$quadrary-font: 'Bowlby One SC', cursive;

$primary-color: black;
$secondary-color: #ed1c24;
$tritary-color: #b22222;
$quadrary-color: white;

@mixin centering-mobile{
    display: flex;
    justify-content: center;
}

@mixin product-mobile-styles{
    width: 100%;
    height: 100%;
}
@mixin product-tablet-styles{
    // width: 33%;
    height: auto;
}

@mixin tint{
    .tint {
        position: relative;
        float: left;
        cursor: pointer;
      }
      
    .tint:before {
        width: 100%;
        height: auto;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: none;
        transition: background .3s linear;
      }
      
    .tint:hover:before {
        background: rgba(0, 0, 0, 0.2);
      }
}

@mixin gallery-info-styles{
    display: flex;
	flex-direction: column;
    h2{
        font-family: $secondary-font;
        font-size: 3.5em;
        text-transform: uppercase;
        text-align: center;

        margin: 1em;
    }
    p{
        font-family: $secondary-font;
        font-size: 1.2em;
        text-align: center;
        padding: 2em 0;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }
    h3{
        font-family: $secondary-font;
        font-size: 2em;
        text-align:center;
        padding: 1em 0;
            .currency{
                font-size: .35em;
                text-transform: uppercase;
            }
    }
}

@mixin gallery-info-styles-tablet{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    h2{
        font-family: $secondary-font;
        font-size: 1.5em;
        text-transform: uppercase;
        text-align: center;
        padding: .5em 0;

        margin: .5em;
    }
    p{
        font-family: $secondary-font;
        font-size: .8em;
        text-align: center;
        padding: 1em 0;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }
    h3{
        font-family: $secondary-font;
        font-size: 1.5em;
        text-align:center;
        padding: .8em 0;
            .currency{
                font-size: .35em;
                text-transform: uppercase;
            }
    }
}


// /*VIEWPORTS*/
// @mixin bp-mobile{
// 	@media only screen and (min-width: $mobile-breakpoint){
// 		@content;
// 	}
// }
// @mixin bp-tablet{
// 	@media only screen and (min-width:$tablet-breakpoint){
// 		@content;
// 	}
// }
// @mixin bp-desktop{
// 	@media only screen and (min-width:$desktop-breakpoint){
// 		@content;
// 	}
// }